@font-face {
    font-family: Alegreya;
    src: url(fonts/Alegreya-Regular.ttf);
}
:root {
    --standard: #73c936;
    --danger: var(#f43841);
}
body {
    width: 1000%;
    margin: auto;
    max-width: 480px;
    position: relative;
    background: #181818;
    color: #EEE;
    font-family: Alegreya;
    font-size: 20px;
    line-height: 22px;
    margin-top: 35px;
    margin-bottom: 35px;
}

html {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

small {
    font-size: 16px;
}
h1 {
    color: #EEE;
    font-size: 48px;
    margin-bottom: 45px;
}
h2 {
    color: #EEE;
    font-size: 32px;
    margin-bottom: 40px;
}
h3 {
    color: #EEE;
    font-size: 24px;
    margin-bottom: 35px;
}
p {
    margin-bottom: 35px;
}
ul {
    margin-bottom: 35px;
    list-style-type: none;
}
li::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--standard);
    top: 0.5rem;
    left: -21px;
    transition: all 0.2s;
}
li {
    position: relative;
    margin-bottom: 4px;
    transform-origin: left;
    transition: all .3s cubic-bezier(.41,1.94,0,1);
}

body li:hover {
    transform: scale(1.3);
}

body:has(li:hover) li {
 opacity: .4;
  filter: grayscale(1) blur(3px);
}

li:hover,
li:hover a {
    opacity: 1 !important;
  filter: none !important;
}

li:hover a {
    text-decoration-color: var(--standard);
}

li:active a {
    text-decoration-color: var(--danger);
}

body:has(#title:hover) .logo {
    border-radius: 50%;
}

body:has(#title:active) .logo {
    border-radius: 0%;
    transform: rotate(45deg);
    background: var(--danger);
}

a:link {
    color: #EEE;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--standard);
    transition: text-decoration-color 0.2s;
    text-underline-offset: 2px;
}
a:visited {
    color: #EEE;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--standard);
    transition: text-decoration-color 0.2s;
    text-underline-offset: 2px;
}
a:hover {
    color: #EEE;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #EEE;
    transition: text-decoration-color 0.2s;
    text-underline-offset: 2px;
}
a:active {
    color: #EEE;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--danger);
    transition: text-decoration-color 0.2s;
    text-underline-offset: 2px;
} 
h1 a:link {
    text-decoration-thickness: 4px;
}
h2 a:link {
    text-decoration-thickness: 3px;
}
.logo {
    border: none;
    position: absolute;
    background: var(--standard);
    width: 45px;
    height: 45px;
    left: -70px;
    top: -5px;
    border-radius: 0%;
    transition: all 0.2s;
}

li:has(a:hover)::before,
.logo:hover,
body:has(.logo:hover) li::before,
li:hover::before {
    border-radius: 50%;
}

li:has(a:active)::before,
.logo:active,
body:has(.logo:active) li::before,
li:active::before {
    background: var(--danger);
    border-radius: 0%;
    transform: rotate(45deg);
}

body:has(.logo:active) a:link,
body:has(.logo:active) a:visited {
    text-decoration-color: var(--danger);
}
