@font-face {
    font-family: Alegreya;
    src: url(fonts/Alegreya-Regular.ttf);
}
body {
    width: 480px;
    margin: auto;
    position: relative;
    background: #181818;
    color: #EEE;
    font-family: Alegreya;
    font-size: 20px;
    line-height: 22px;
    margin-top: 35px;
    margin-bottom: 35px;
}
small {
    font-size: 16px;
}
h1 {
    color: #EEE;
    font-size: 48px;
    margin-bottom: 45px;
}
h2 {
    color: #EEE;
    font-size: 32px;
    margin-bottom: 40px;
}
h3 {
    color: #EEE;
    font-size: 24px;
    margin-bottom: 35px;
}
p {
    margin-bottom: 35px;
}
ul {
    margin-bottom: 35px;
    list-style-type: none;
}
li::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #73c936;
    top: 0.5rem;
    left: -21px;
    transition: all 0.2s;
}
li {
    position: relative;
    margin-bottom: 4px;
}
a:link {
    color: #EEE;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #73c936;
    transition: text-decoration-color 0.2s;
    text-underline-offset: 2px;
}
a:visited {
    color: #EEE;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #73c936;
    transition: text-decoration-color 0.2s;
    text-underline-offset: 2px;
}
a:hover {
    color: #EEE;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #EEE;
    transition: text-decoration-color 0.2s;
    text-underline-offset: 2px;
}
a:active {
    color: #EEE;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #f43841;
    transition: text-decoration-color 0.2s;
    text-underline-offset: 2px;
} 
h1 a:link {
    text-decoration-thickness: 4px;
}
h2 a:link {
    text-decoration-thickness: 3px;
}
.logo {
    border: none;
    position: absolute;
    background: #73c936;
    width: 45px;
    height: 45px;
    left: -70px;
    top: -5px;
    border-radius: 0%;
    transition: all 0.2s;
}

li:has(a:hover)::before,
.logo:hover,
body:has(.logo:hover) li::before {
    border-radius: 50%;
}

li:has(a:active)::before,
.logo:active,
body:has(.logo:active) li::before {
    background: #f43841;
    border-radius: 0%;
    transform: rotate(45deg);
}

body:has(.logo:active) a:link,
body:has(.logo:active) a:visited {
    text-decoration-color: #f43841;
}

body:has(#title a:hover) .logo {
    border-radius: 50%;
}

body:has(#title a:active) .logo {
    background: #f43841;
    border-radius: 0%;
    transform: rotate(45deg);
}
