html, body,
h1, h2, p, a,
ul, li,
small {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}